.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 1rem;
  gap: .75rem;

  border-radius: .5rem;
  background-color: var(--gray-500);

  .checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    & .inputCard {
      appearance: none;
    }

    & .custom {
      width: 1rem;
      height: 1rem;
      border: 2px solid var(--blue-200);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;
    }

    & .inputCard:checked+.custom {
      background-color: var(--purple-200);
      border-color: var(--purple-200);
    }

    & .custom::after {
      content: "";
      width: 0.25rem;
      height: 0.5rem;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg) scale(0);
      transition: 0.2s;
    }

    & .inputCard:checked+.custom::after {
      transform: rotate(45deg) scale(1);
    }
  }


  & .buttonCard {
    background-color: transparent;
    border: none;

    line-height: 0;

    transition: color 500ms ease;

    &:hover {
      cursor: pointer;
      color: var(--danger);
    }
  }
}